body, html {
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
    height: 100%;  
}

.image, section {
    margin-bottom: 50px;
}

.secTitle {
    font-family: 'Open Sans Condensed', sans-serif;
}

hr {
    background-color: #2e9cca;
}

/**************** NAVBAR *****************/

nav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    display: flex;
    flex-flow: column;
}

#logo {
    width: 100px;
    height: 100px;
}

.navbar-brand {
    font-size: 60px;
    color: #2E9CCA;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #212121;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #2e9cca;
}

/**************** IMAGE *****************/

#image {
    background-image: url(../images/code.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/**************** ABOUT *****************/

/*************** PORTFOLIO *************/

/*************** CONTACT ****************/

/*COLOR PALETTE: NERO #231F20 / LIGHT GREY #EAEAEA / BLUE #2E9CCA*/

@media only screen and (max-width: 600px) {
    .navbar-nav .nav-item .nav-link {
        color: #212121;
        display: flex;
        flex-flow: column;
    }

    #image {
        display: none;
    }
}