body {
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: 'Open Sans', sans-serif;    
}

/**************** NAVBAR *****************/

.header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.navbar-brand {
    font-size: 60px;
}

#navbarNav {
    float: right;
}

.navbar-nav .nav-item .nav-link {
    color: blue;
}
